{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="subheader">Data Visualization</h1>
    <hr><br>
    <style>
        .container2{
            display:flex;
            align-items: center;
            color: #fdfdfe;
        }
        .container2 img{
            width: 900px;
            height: 800px;
            margin-right: 50px;
            
        }
        li{
            font-size: 30px;
        }
        p{
            font-size: 30px;
            font-weight: bold;
        }
    </style>
    <br>

    
    <div class="container2">
        <img src="{% static 'pic3.png' %}",alt="not displayed" /> <br><br>
        <center>
        <p class="subheader">CC vs Price<br><br>
         <ul>
            <p>Inference<br></p>
            <li>The price of the vehicle increases with increase in displacement(cc).</li>
            <li>Cars with a cc of 1000-2000 are mostly manufactured.</li>
         </ul>   
        
        </p></center>
    </div><br><br>
    <div class="container2">
        <img src="{% static 'pic1.png' %}",alt="not displayed" /><br><br>
        <center>
        <p class="subheader">Type vs Average Price<br><br>
            <ul>
                <p>Inference<br></p>
                <li>The price of automatic cars is the highest in the market.</li>
                <li>The price of AMT cars is the least in the market.</li>
             </ul> 
        </p></center>
    </div><br><br>
    <div class="container2">
        <img src="{% static 'pic2.png' %}",alt="not displayed" /> 
        <center>
        <p class="subheader">Frequency plots<br><br>
            <ul>
                <p>Inference<br></p>
                <li>Cars with fuel type- Petrol are most manufactured.</li>
                <li>Cars of manual type are most manufactured.</li>
             </ul> 
        </p></center>
    </div>
         
    
{% endblock content %}